/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #313131;
  --first-color-gray: #ececec;
  --progress-color-light: rgba(55, 71, 79, 0.1);
  --progress-color: #03c36d;
  --progress-color-red: red;
  --progress-color-yellow: #ffcb75;
  --text-color: #000;
  --text-color-light: #fff;
  --body-color: #fff;

  --gray-color: rgba(230, 230, 230, 1);
  --text-gray-color: rgba(104, 104, 104, 1);
  --yellow-color: rgba(255, 199, 39, 1);
  --black-color: #000;
  --white-color: #FFF;
  --dark-green-color: rgba(55, 71, 79, 1);
  --dark-mite-color: #D9E7E5;

  /*========== Font==========*/
  --body-font: 'Poppins', sans-serif;
  --font-bold: 700;
  --font-black: 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
}

body {
    background-color: var(--dark-mite-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

/* ===============-REUSABLE CSSS CLASSES-=========================== */
.container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.wrapper {
    background-color: #76717185;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section {
    padding: 0 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.center {
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border-radius: .5rem;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--black-color);
    /* border: none; */
    transition: all .4s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--dark-mite-color);
    border: 1px solid var(--black-color);
}
.close-btn {
    border: none;
    font-size: 1.5rem;
    background: inherit;
    cursor: pointer;
}
.empty-page {
    text-align: center;
}
.empty {
    justify-content: center;
    font-size: 3rem;
    color: #cd3c3c;
    padding-top: 10rem;
}
/* ===============-HEADER-=========================== */
.heading {
    justify-content: space-between;
    margin: 1rem auto 0;
}
.heading__title {
    font-size: 27px;
    line-height: 42px;
    font-weight: 600;
}
/* ===============-ACCOUNT-=========================== */
.card {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: flex-start;
    margin: 1rem auto;
}
.card__body {
    background-color: var(--white-color);
    border-radius: .75rem;
    padding: 1rem;
}
.card__body-header {
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.card__body-probability {
    font-size: 1.25rem;
    color: var(--first-color);
    font-weight: 600;
}
.card__body-stat {
    color: var(--text-gray-color);
}
.card__body-progress {
    background-color: var(--progress-color-light);
    width: 100%;
    height: 10px;
    overflow: hidden;
    justify-content: flex-start;
    border-radius: 1rem;
}
.card__body-progressbar {
    width: 0%;
    height: 20px;
    border-radius: 1rem;
    background-color: var(--progress-color);
}
.card__body-btn {
    padding-top: 0.75rem;
    gap: 1rem;
}
.notice {
    background-color: rgba(55, 71, 79, 1);
    color: var(--white-color);
}
.notice::after {
    content: "OOPs";
    top: 0;
    left: 0;
}
.notice .card__body-stat,
.notice .card__body-probability {
    color: var(--white-color);
}
/* ===============-ADD ACCOUNT-=========================== */
.form__container {
    display: none;
    width: clamp(18.125rem, 13.352rem + 23.86vw, 31.25rem);
    position: relative;
    background-color: var(--body-color);
    border-radius: 0.75rem;
    top: 5%;
}
.form {
    padding: 1.5rem;
}
.form__heading {
    justify-content: space-between;
    border-bottom: 1px solid var(--first-color);
}
.form__heading-title {
    font-size: 1.5rem;
}
.form__body-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.form__body-control {
    display: block;
    width: 100%;
    height: 2.45rem;
    margin-top: 0.35rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.45rem;
    border-color: var(--first-color-gray);
    background-color: inherit;
}
/* ===============-EXPENSE-=========================== */
.form__body-expense {
    padding: 1rem;
}
.expense__info {
    padding: 5px 0;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--dark-mite-color);
}
.expense__info-name {
    width: clamp(14.063rem, 11.903rem + 10.8vw, 20rem);
}
.clear__btn{
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #f30000;
    border: 1px solid;
}
.show {
    display: block;
}
.hide {
    display: none;
}
/* ===============-RESPONSIVE-=========================== */
@media screen and (max-width: 1150px) {
    .heading {
        padding: 0 1.25rem;
    }
}

@media screen and (max-width: 678px) {
    .section {
        padding: .5rem;
    }
    .heading__title {
        font-size: 1.35rem;
    }
    .form,
    .form__body-expense {
        padding: 1rem;
    }
    .close-btn,
    .form__heading-title {
        font-size: 1rem;
    }
    .expense__info {
        flex-wrap: wrap;
    }
}